name: Deploy
on:
  workflow_dispatch:
jobs:
  deploy:
    environment: production-s3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: |
          pwd
          ls -la
      - uses: MrMeison/yc-object-storage-action@main
        with:
          accessKeyId: ${{ secrets.S3_ACCESS_KEY_ID }}
          secretAccessKey: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          bucketName: ${{ vars.S3_BUCKET }}
          clear: true
          include: |
            css/**/*.*
            fonts/**/*.*
            img/**/*.*
            js/**/*.*
            index.html
